h2 {
    background-color: crimson;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
 }

 .header-btn {
        background-color: yellow;
        align-content: stretch;
 }